<div class="container container-contact">
  <div class="hero-title">
    <div class="col-8">
      <h2><%=  t('contact.title') %></h2>
    </div>
    <div class="col-4">
      <%= image_tag "" %>
    </div>
  </div>
  <div class="content">
    <div class="contact_group">
      <span><i class="fa fa-user"></i>Imane El Kart </span>
      <span><a href="tel:+32494675067"><i class="fa fa-tty"></i>+32 494 67 50 67</a></span>
      <span><a href="mailto:i.elkart@seeme-refugees.com"><i class="fas fa-at"></i>i.elkart@seeme-refugees.com</a></span>
      <span><i class="fa fa-map-marker-alt"></i>Avenue du roi Soldat 118 </span>
      <span><i class="fa fa-map-marker-alt"></i>1070 Bruxelles</span>
    </div>
    <p class="description"><%= t('contact.description') %></p>
  </div>
</div>