<div class="container-fluid container_index">
  <div class="img_hp">
    <%= image_tag("image_hp.jpg", class: "img-responsive") %>
    <div class="lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  
  
</div>
