<div class="container-fluid container_index">
  <div class="img_hp">
    <img src="../assets/image_hp.jpg" 
         alt="See Me ASBL donner des ailes aux réfugiés"
         sizes=""
         srcset="../assets/image_hp-640.jpg 640w,
                 ../assets/image_hp-960.jpg 960w,
                 ../assets/image_hp-1280.jpg 1280w,
                 ../assets/image_hp-1960.jpg 1960w,
                 ../assets/image_hp-2560.jpg 2560w"/>
    <div class="lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  
</div>
