<div class="container container_index">
  <div class="img_hp">
    <img src="../assets/image_hp.jpg" 
         alt=""
         sizes=""
         srcset=""/>
    <div class="lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="text_hp">
    <div class="text_hp__logo">
      
    </div>
    <div class="text_hp__intro">
      <div class="text_hp__title">
        <h3><span><%= t('index.before_title') %></span><%= t('index.title') %></h3>
      </div>
      <p><%= t('index.intro') %></p>
    </div>
  </div>
</div>
