<div class="content">
  <h2><%= t('private.title') %></h2>
  <p><%= t('private.introduction_html') %></p>
  <h5><%= t('private.subtitle_personnal_data') %></h5>
  <p><%= t('private.personnal_data_html') %></p>
</div>