<div class="container container-contact">
  <div class="hero-title">
    <div class="col-8">
      <h2><%=  t('support.title') %></h2>
    </div>
    <div class="col-4">
      <%= image_tag "" %>
    </div>
  </div>
  <div class="content">
     <p class="description"><%= t('support.description') %></p>
  </div>
</div>