<div class="container container_student">
  <div class="hero-title">
    <div class="col-8">
      <h2><%=  "#{t('students.show.title')}#{@student.name}" %></h2>
    </div>
    <div class="col-4">
      <%= image_tag("") %>
    </div>
  </div>
  <p><%= t('students.show.description') %></p>
</div>