$brown: #8f6e14;
.hero-title{
  margin-bottom: 2em 0;
  display: flex;
  h2{
  margin: 2rem 0 4rem;
  text-align: center;
  color: $brown;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  }
  img{
    width: 100%;
  }
}
h5{
  color: $brown;
}