.navbar{
  .collapse.navbar-collapse{
    .nav-item a{
      color: #8f6e14;
      z-index:1;
      &:hover{
        color: white;
        background-color: #8f6e14;
        box-shadow: 1px 6px 9px rgba(107,92,54,0.5);
      }
    }
  }
}
.langages-list{
  display: flex;
  height: 15vh;
  align-items: center;
 li{
   list-style: none;
   margin: 0 5px; 
   &:not(:last-child):after{
     content: '|';
     margin-left: 5px;
     width: 2px; 
   }
   a{
     color: black;
     text-transform: uppercase;
     &:hover,
     &:focus, 
     &:active{
       color: #8f6e14;
     }
    @media screen and (min-width: 40em) {
      
    }
   }
 }
}