.langages-list{
  display: flex;
  height: 15vh;
  align-items: center;
 li{
   list-style: none;
   margin: 0 5px; 
   a{
     color: black;
     &:hover,
     &:focus{
       color: #8f6e14;
     }
   }
 }
}