$brown: #8f6e14;
$grey: #455965;

.container_index{
  margin: 0;
  padding:0;
  max-width: 100vw;
  .img_hp{
    max-width: 100vw;
    img{
      height:50vh;
      width: 100%;
      object-fit: cover;
    }
  }
  .text_hp{
    width: 70%;
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    .text_hp__logo{
      img{
        width: 250px; 
      }
    }
    .text_hp__intro{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      .text_hp__title{
        display: inline-flex;
        h3{
          font-size: 2rem;
          span{
            color: $brown; 
          }
        }
      }
      p{
        font-size: 1.75rem;
        font-family: 'Bauer Bodoni Roman';
      }
    }
  }
}

.container_private_life{
  .hero-title{
    margin-bottom: 2em 0;
    h2{
    margin: 2rem 0 4rem;
    text-align: center;
    color: $brown;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    }
    img{
      width: 100%;
    }
  }
  h5{
    color: $brown;
  }
}

.container-about-seeme{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .img-intro, 
  .img-historic{
    margin: 1.5em auto;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .3);
  }
  h2, 
  h3, 
  h4{
    text-align: center;
    margin: 2em auto;
    color: $brown;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .sub-content{
    margin: 3em 2em;
    .inner_sub-content{
      padding: 5px; 
      margin-top: 2em;
      button{
        margin: 50px auto;
        display:flex;
      }
    }
    .img_content{
      max-height: 450px;
      img{
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .chiffres{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    h4{
      text-align: center;
    }
    .col-6.col-md-3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
      .ico{
        width: 100px;
        margin: auto;
        >img{
          width: 90px;
        }
      }
      span{
      font-weight: bold;
      text-align: center;
      margin: auto;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
        .ico{
          width: 100px;
          margin-bottom: 15px;
          >img{
            width: 100px;
          }
        }
      }
    }
  }
}
.container-press{
  .content-medias{
    display: flex;
    flex-wrap: wrap;
    .media{
      max-width: 350px;
      display: flex;
      flex-direction: column;
      padding: 1.5em;
      box-shadow: 0px 2px 2px rgba(54, 56, 76, 0.1), 0px 0px 3px 2px rgba(54, 56, 76, 0.02);
      margin: .5em;
      .media_header{
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        .media__title{
          h4{
            color: $brown;
            padding-top: .5em;
          }
          span{
            color: $grey;
            font-size: 12px; 
            font-style: italic;
            position: relative; 
            top: -8px;
            left: 6px; 
            .fa-calendar-alt{
              color: $grey;
              margin-right: .3em;
            }
            a{
              display: flex; 
              align-items: center;
            }
          }
        &::before,
        &::after{
          display: block;
          content:""; 
          height: 1.5px;
          color: $grey;
          width:300px;
          position: absolute;
          border: 1px solid $grey;
          margin: auto;
          }
        }
        .little_img_press{
          width:50px;
          height:50px;
          margin: .5em 1em;
        }
      }
      
      p{
        text-align: center;
        color: $grey;
        line-height: 1.2;
        letter-spacing: 0.2px;
        margin-top: 20px;
        font-size: 15px;
      }
    }
  }
}

.container-contact{
  .map_content{
    box-shadow: 0 10px 40px rgba(0, 0, 0, .3);
    iframe{
      width: 100%;
    }
  }
}

.container-support{
  .hero-title img {
    padding-top: 1.5em;
    width: 65%;
  }
  .content{
    p{
      color:$grey;
    }
    .help_content{
      margin-top: 3em;
      width: 100%; 
      .header_section{
        display: flex;
        h2.title_link{
          margin: auto;
          a{
            color: $brown;
            text-decoration: none;
            &:hover{
              text-decoration: none;
            }
          }
        } 
      }
    }
  }
}