// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li{
  list-style: none;
}
.container_projects{
  width: 100vw;
  min-height: 100vh;
  h2{
    text-align: center;
    padding: 2em 0;;
  }
  .content{
    margin: 0;
    padding: 0;
    width: 100vw;
    .header_presentation{
      padding: 0 5em;
      margin-bottom: 30px;
      ul{
        display:flex;
        justify-content: space-evenly;
        .block_presentation{
          cursor: pointer;
          display: flex; 
          max-width: 500px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
          position: relative;
          &:hover{
            box-shadow: 0 10px 40px rgba(0, 0, 0, .4);
          }
          .project_img{
            height: 350px;
            width: 350px;
            object-fit: cover;
            border-radius: 5px;
          }
          .project_title{
            h4{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: white;
              text-transform: uppercase;
              letter-spacing: 0.2em;
              background-color: rgba(143, 110, 20, 0.6);
              padding: 10px 30px;
            }
          }
        }
      }
    }
    .more_informations_content{
      width: 70%;
      margin: 30px auto;
      padding: 30px;
      .inner_more_informations_content{
        display: flex;
        &.project{
          visibility: hidden;
          opacity: 0;
          transition: 0.5s ease;
          display: flex;
          &:target{
            visibility: visible;
            opacity: 1;
          }
        }

        h3{
          width: 6em;
          display: flex;
          align-items: center;
        }
        .bloc_description{
          flex: 1;
          display: flex;
          flex-direction: column;
          p{
            padding: 10px 30px;
          }
          button{
            width: 150px; 
            margin: auto;
            padding: 10px 3px;
          }
        }
      }
      @media (min-width: 768px) { 
        flex-direction: row;
      }
    }
  }
}
