.hero-title > .col-8{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_inscription{
  border-left: 5px solid $brown;
  margin: 3em auto;
  padding: 2em; 
  width: 80%;
  background:url("../images/dot-grid.jpg");
  box-shadow: 0px 1px 1px rgba(54, 56, 76, 0.1), 0px 0px 3px 1px rgba(54, 56, 76, 0.02);
  .block_name{
    display: flex;
  }
  .button_seeme{
    background-color: $brown;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  p{
    width: 100%;
    input[type=text]{
      border: 1px solid $brown;
      border-radius: 5px;
      margin: 1em 0.5em;
      line-height: 2.5;
      font-style: italic;
      font-size: 14px;
    }
    .fa-asterisk{
      color: $brown;
      font-size: 14px; 
    }
  }
  .radio_buttons_block{
    display: flex;
    justify-content: center;
    margin: 1.5em;
    label{
      margin: 0 1em;
    }
  }
}